env: "local" # prod debug

collector:
  timeout: 20s

checker:
  timeout: 5s

database:
  path: ./storage/example.db
  timeout: 10s

scheduler:
  start_immediately: false
  timeout: 15s
  interval: 1h

mail:
  timeout: 30s
  mail: "example@gmail.com"
  from: "Proxpro <example@gmail.com>"
  pass: "application secret pass"
  addr: "smtp.gmail.com"
  port: 587
  secure: false

google_auth:
  timeout: 30s
  client_id: "CLIENT_ID"
  client_secret: "CLIENT_SECRET"
  redirect_url: "http://localhost:8080/auth/google/callback"
  scope:
    [
      "https://www.googleapis.com/auth/userinfo.profile",
    ]
  redirect_to: "http://localhost:80"

jwt:
  secret: "secret"
  access_token_ttl: 10s
  refresh_token_ttl: 24h
  timeout: 10s

rabbit:
  host: "rabbit"
  port: 5672
  user: "guest"
  pass: "guest"
  timeout: 5s
