env: "local" # "local" or "prod"

collector:
  timeout: 20s

checker:
  timeout: 5s

database:
  path: ./storage/local.db
  timeout: 10s

scheduler:
  start_immediately: false
  timeout: 15s
  interval: 1h

mail:
  timeout: 30s
  from: "Example <example@mail>"
  pass: "password"
  addr: "smtp.gmail.com"
  port: 587
  secure: false
